/* Defualt Section */

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


.oriange{
    color: orange;
}

/* About Section */
.about-section{
     background-image: url(../images/shapes/7.png);
    background-repeat: no-repeat;
}



/* ================================================= */
#button{
    background-image: linear-gradient(rgb(153, 26, 136),rgb(255, 76, 76) );
    border-radius: 50px;
    padding: 15px 40px;   
}
.fs-0{
    font-size: 50px;
    color: gray;
}
.text-gray{
    color: gray;
}
.recipie-item{
    box-shadow: rgb(230 226 226) 10px 10px 40px;
    border-radius: 30px;
}

.subscribe-section{
    background-color: #C8E7E1;
}
